nav {
    margin: 0%;

    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(219, 219, 219);
}

.body2 {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#neo {
    color: rgb(34, 139, 34);
}

nav {
    font-size: 32px;
}

.texto {
    font-size: 24px;
    padding: 0.5%;
}

.pregunta {
    font-size: 32px;
}

.nav-item {
    margin-left: 0.5%;
}