body {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    margin: 0.5%;

}

#neo {
    color: rgb(34, 139, 34);
}

nav {
    font-size: 32px;
}

.texto {
    font-size: 24px;
    padding: 0.5%;
}

.pregunta {
    font-size: 32px;
}